@import "tailwindcss";

@theme {
  --font-sans: var(--font-poppins), ui-sans-serif, system-ui, sans-serif;
  --font-roboto: var(--font-roboto), ui-sans-serif, system-ui, sans-serif;
  --color-brand-primary: #002866;
  --color-brand-secondary: #FFEE00;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
